<!DOCTYPE html>
<html>

<head>
<title>Morshed Siddiqui</title>
<link rel="stylesheet" href="/stylesheet/homeStyles.css">
<link rel="stylesheet" href="pictureStyle.css">
<meta name="author" content="Morshed Siddiqui">
 
 
</head>


    <body>
        <header> 
        <img id="HeaderPic" src="D:\College projects\COMP 229- advanced javascript\lab 3\headerPic.png" alt="Morshed Siddiqui">  <br>
          
            
    
        </header>
       

