<%- include('partials/header.ejs') %>
        <h1>Welcome to <%= title%> </h1>

        <p>
            Name: Morshed Siddiqui<br>
            Age: 19<br>
            Adress: Toronto<br>
            Loves: IDK<br>

        </p>
    
<%- include('partials/footer.ejs') %>
